@import "./fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-decimal: "Decimal";
  --font-geist-sans: "Geist Sans";
  --font-geist-mono: "Geist Mono";
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  margin-left: auto;
  margin-right: auto;
  width: 409px;
  color: #f9f9f9;
}

.card-background-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4) 10%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.2) 70%,
    rgba(255, 255, 255, 0.08) 100%
  );
  margin-top: 40px;
}

@media (max-width: 460px) {
  body {
    min-width: 370px;
    width: calc(100% - 20px);
    padding: 10px;
  }
  .card-background-gradient {
    width: 100%;
    background-image: none;
    margin-top: 0;
  }
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
