/* Decimal Font Family */
@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Thin-Pro.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-ThinItalic-Pro.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Light-Pro.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-LightItalic-Pro.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-XLight-Pro.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-XLightItalic-Pro.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Book-Pro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-BookItalic-Pro.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Medium-Pro.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-MediumItalic-Pro.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Semibold-Pro.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-SemiboldItalic-Pro.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Bold-Pro.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-BoldItalic-Pro.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-XBlack-Pro.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-XBlackItalic-Pro.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-Black-Pro.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Decimal";
  src: url("./Decimal-BlackItalic-Pro.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Geist Sans Variable Font */
@font-face {
  font-family: "Geist Sans";
  src: url("./GeistVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Geist Mono Variable Font */
@font-face {
  font-family: "Geist Mono";
  src: url("./GeistMonoVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
